.colon{
    width: 55%;
    padding: 10px;
    margin-bottom: 20px;
}
.display-4 text-center{
}
.btnConnexion{
    width: 10%;
}
.topnav{

    padding: 10px;
    width: 100%;

}
.formul_tab{
    width: 50%;
}
body{

}